button#toTop{
    border: none;
    background-image: url(../img/logo_round_bl.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 8px;
    overflow: hidden;
}

button#toTop:hover {
    opacity: 20%;
    
}

button#toTop:focus{
    color: none;
    border-style: none;
    
}

  /* portfolio button */
  .btn-cat {
    font-family: Courier, 'Courier New', monospace;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    /* color: #333; */
    /* background-color: rgba(0, 0, 0, 0); */
}

.btn-cat:hover {
  text-decoration: none;
}

.btn-cat:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}
/* Add a dark background color to the active button */
.btn-cat.active {
  background-color: #333;
   color: white;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
