/* footer */
li.icon {
	display: inline-block;
	vertical-align: bottom;
	border: 10px solid transparent;
}

img.icon {
	width: 30px;
	height: 0px;
}
footer >a {
	font-size: 1em;
	color: rgb(83, 83, 83);
	text-decoration: none;
	position: relative;
}