/* Header */
.title {
	margin-left: 30px;
}

.nav {
	width: 100%;
	font-family: Courier,'Courier New', monospace;
	font-weight: 900;
}
.nav a:visited {
  color: inherit;
}

.nav a:hover {
  color: rgb(0, 13, 197);
}

.nav a {
  /* padding: 10px; */
  text-decoration: none;
}
ul.nav-ul {
	text-align: center;
	list-style: none;
	overflow: hidden;
}

ul.nav-ul li {
  display: inline-block;
  vertical-align: baseline;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 20px;
}

ul.nav-ul a:hover{
	background: yellow;
}

