/* Header */
.title {
	margin-left: 30px;
}

.nav {
	width: 100%;
	font-family: Courier,'Courier New', monospace;
	font-weight: 900;
}

ul.nav-ul {
	text-align: center;
	list-style: none;
	overflow: hidden;
}

ul.nav-ul >li {
  display: inline-block;
  vertical-align: baseline;
  overflow: hidden;
  font-size: 1.1em;
  font-weight: 700;
  margin-right: 20px;
}
ul.nav-ul > li > a{
    line-height: 30px;
  	text-decoration: none;
}
ul.nav-ul > li > a:hover{
	background: yellow;
}







/* .nav a{
  text-decoration: none;
}

.nav li :hover{
  background-color: yellow;
}
.nav :visited{
  color: #333;
} */
