/* portfolio */
h1.contents-title {
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: left;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	text-decoration: underline;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
	text-align: left;
}
.h2skill {
	font-weight: 600;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	margin-top: 10px;
}
.right {
	text-align: right;
}
.right a{
	padding: 10px 20px 10px 20px;
	font-weight: 600;
	color: #333;
	background: rgba(255, 238, 0, 0.6)
}
.right a:hover{
	background-color: rgba(42, 145, 51, 0.6);
}
h3 {
	font-size: 1.2em;
	font-weight: 500;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-top: 60px;
}
#category-container {
	margin-top: 2em;
	text-align: center;
}
.box {
    box-sizing: border-box;
    width: 250px;
	height: 250px;    
	position: relative;
	display: inline-block;
	justify-content: flex-start;
    max-width: 100%;
	border: 15px solid transparent;
}

.scale-anm {
  transform: scale(1);
}


.image {
	position: absolute;
    width: 100%;
	height: 100%;
	left: 0;
}

.box:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, 0.3);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
  }
  .gallery-title {
	opacity: 0%;
	position: absolute;
	width: 220px;
	right: 0;
	top: 80px;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	color: white;
	z-index: 1;
	transition: top .5s ease;
  }
  .box:hover .gallery-title {
	  opacity: 100%;
	  top: 50px;
  }
  .gallery-button {
	position: absolute;
	width: 220px;
	left: 0;
	bottom: 80px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
  }

  .gallery-button a {
	width: 120px;
	padding: 8px 15px 8px 15px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	color: white;
	border: solid 2px white;
	border-radius: 5px;
	z-index: 1;
  }

  .box:hover .gallery-button {
	opacity: 1;
  }

  .skill li {
	  text-align: left;
	  font-size: 1.1em;
	  line-height: 1.2em;
  }