/* portfolio */
p {
	line-height: 1.4em;
}
:visited {
	color: inherit;
}

h1.contents-title {
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	text-align: left;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	text-decoration: underline;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
	text-align: left;
}
.h2skill {
	font-weight: 600;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	margin-top: 10px;
}
.skill li {
	text-align: left;
	font-size: 1.1em;
	line-height: 1.4em;
}


.right a{
	font-weight: 500;
	color: rgb(255, 226, 215);
	padding-bottom: 20px;
}
.right:hover{
	background-color: rgba(42, 145, 51, 0.6);
}
h3 {
	font-size: 1.2em;
	font-weight: 500;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-top: 60px;
}

.box {
    box-sizing: border-box;
    width: 250px;
	height: 250px;    
	position: relative;
	display: inline-block;
	justify-content: flex-start;
    max-width: 100%;
	border: 15px solid transparent;
}
@media (max-width: 600px) {
	#container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
	.box {
		box-sizing: border-box;
		width: 150px;
		height: auto;    
		position: relative;
		display: inline-block;
		justify-content: flex-start;
		max-width: 100%;
		border: 15px solid transparent;
	}
}