/* portfolio */
p {
	font-size: 1em;
	line-height: 1.4em;
}
:visited {
	color: inherit;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	text-decoration: underline;
}
h2 {
	font-size: 1.3em;
	font-weight: 500;
	text-align: left;
}
.h2skill {
	font-weight: 600;
	color: rgb(0, 72, 139);
	margin-bottom: 10px;
	margin-top: 10px;
	text-decoration: underline dotted;
}
hr {
	border: none;
	border-top: 1px dotted rgb(138, 138, 138);
}
.skill li {
	text-align: left;
	font-size: 1.1em;
	line-height: 1.5em;
}

h2.project-title {
	margin-bottom: 10px;
}

.right a{
	font-weight: 500;
	color: rgb(255, 226, 215);
	padding-bottom: 20px;
}
.right:hover{
	background-color: rgba(42, 145, 51, 0.6);
}
h3 {
	font-size: 1.2em;
	font-weight: 500;
}

.skill-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-top: 60px;
}

.box {
    box-sizing: border-box;
    width: 250px;
	height: 250px;    
	position: relative;
	display: inline-block;
	justify-content: flex-start;
    max-width: 100%;
	border: 15px solid transparent;
}
@media (max-width: 600px) {
	.skill-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
	.box {
		box-sizing: border-box;
		width: 150px;
		height: auto;    
		position: relative;
		display: inline-block;
		justify-content: flex-start;
		max-width: 100%;
		border: 15px solid transparent;
	}
}


a.btn {
	border: none;
	text-decoration: none;
	border: #333 2px solid;
	text-decoration: underline #333 1px solid;
	margin-top: 10px;
}

a.btn:hover {
	background-color: rgb(255, 237, 78);
}
