@import url('./reset.css');
@import url('./footer.css');

/* fonts */

h1 {
	font-size: 2em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
}

h2 {
	font-size: 1.4em;
	font-weight: 500;
	text-align: left;
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
}

a {
	font-weight: 500;
	font-size: 0.8em;
	color: #333;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
}

a:hover {
	background: yellow;
}

a:visited {
	color: inherit;
}

p {
	font-size: 0.9em;
}

p.main {
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
	font-size: 1em;
	line-height: 1.4em;
	color: #333;
	padding: 30px;
}


/* main */

body {
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 30px 0.3fr 1fr 30px;
	grid-template-rows: 80px 1fr 300px;
}

header {
	grid-area: 1 / 1 / 2 / 5;
	align-items: center;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	overflow: hidden;
	background-color: white;
	width: 100%;
	z-index: 1;
}

#portfolio {
	grid-area: 2 / 3 / 3 / 4;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	margin-bottom: 80px;
}

footer {
	grid-area: 3 / 1 / 4 / 5;
	display: flex;
	flex-direction: column;
	background-color: #ddd;
	padding: 30px;
	padding-top: 30px;
	justify-content: center;
}


/* archive */

.archive {
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	line-height: 1.3em;
	text-align: left;
}

p.archive {
	font-size: 1.2em;
	margin-bottom: 20px;
	font-family: 'Courier New', Courier, monospace;
}

p.work-title {
	text-align: right;
	font-weight: 600;
	font-family: 'Courier New', Courier, monospace;
}


/* container */

.container-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.container-column {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box {
	width: 40%;
	height: auto;
	border: 10px solid transparent;
}
.box-column {
	width: 100%;
	height: auto;
	border: 10px solid transparent;
}
img.row {
	width: 100%;
	height: auto;
}
img.column {
	width: 100%;
	height: auto;
	border: 20px solid transparent;
}

li.icon {
	display: inline-block;
	vertical-align: bottom;
	border: 10px solid transparent;
}

img.icon {
	width: 30px;
	height: 30px;
}

.footer-texts {
	text-align: center;
}


/* menu */
/* 
* {
	box-sizing: border-box;
}

.menu {
	position: absolute;
	right: 30px;
	top: 30px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: 0.5s ease;
	height: 50px;
}


.bar {
	width: 50px;
	height: 10px;
	background: #fff;
	box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
	border-radius: 2px;
	transition: 0.4s ease;
}

.bar:not(:first-child) {
	margin-top: 10px;
}

#hi {
	position: absolute;
	right: 30px;
	top: 30px;
}

#hi:checked+.menu {
	transform: translate(-50%, -50%) rotatey(180deg);
}

#hi:checked+.menu.bar {
	transform: rotatey(180deg) rotatex(360deg);
}

#hi:checked+.menu.bar :first-child {
	transform: rotate(-45deg);
	margin-top: 20px;
}

#hi:checked+.menu.bar :nth-child(2) {
	opacity: 0;
}

#hi:checked+.menu.bar :nth-child(3) {
	margin-top: -30px;
	transform: rotate(45deg);
} */