.top-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	line-height: 1.4em;
}

.media {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	font-size: 1.3em;
}

@media (min-width: 901px){
	.top-container {
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	.media {
		width: 50%;
	}
}


.topbox {
	width: 50%;
	height: 50px;
	background-color:rgba(253, 237, 90, 0.788);
	border-radius: 10px;
}
.top-text02 {
	font-family: 'Futura', sans-serif;
	line-height: 1.2em;
	color: #333;
}
.top-text03 {
	font-family: 'Futura', sans-serif;
	/* line-height: 0.9em; */
	color: rgb(119, 119, 119);
	font-size: 0.8em;
	margin-bottom: 30px;

}
.top-text02 a {
	color: inherit;
	border-radius: 5px;
	text-decoration: underline;
}
.top-text02 a:hover {
	background-color: salmon;
}
.top-text02 a:visited {
	color: inherit;
}

/* social media links */

ul.top-links {
	font-family: 'Futura', sans-serif;
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

ul.top-links > li {
	width: fit-content;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 20px;
}

ul.top-links li:hover,
ul.top-links li:active {
	background-color: salmon;
}

ul.top-links > li >a {
	color: inherit;
	font-size: 0.8em;
	font-weight: 500;
	text-decoration: underline;
}
ul.top-links > li >a:hover {
	color: #333;
}

/* animation */
@keyframes square-animation {
	from {
	    background: #ebc82b;
		transform: translateY(100%);
		
	}
  
	to {
		background: #d43824;
	  transform: translateY(-10%);
	  transition-duration: 3s;
	}
  }

.background {
	width: auto;
	height: 100%;
	z-index: -1;
}
.square {
	z-index: -1;
	animation-name: square-animation;
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	width: 180px;
	height: 180px;
	position: absolute;
	right: 10%;
	border-radius: 100px;
	transform-origin: 100,0;
}

@media (max-width: 600px) {
	.square {
		width: 100px;
		height: 100px;
	}
}